@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

div.image-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.image-wrapper img {
    display: block;
}

#title { position:absolute; left:0; top:10%; right:0; height:100px; margin: 0 auto; text-align:center;
    width: 100%;
}

#title p {
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
    color: #FAEDE8;
    /*margin-top: 0px;*/
    -webkit-animation: fadeInLeft 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeInLeft 5s; /* Firefox < 16 */
    -ms-animation: fadeInLeft 5s; /* Internet Explorer */
    -o-animation: fadeInLeft 5s; /* Opera < 12.1 */
    animation: fadeInLeft 5s;
}

#title canvas { margin:0 auto; text-align:center;    font-family: 'Dancing Script', cursive; }
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
