@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 800px;
    height: 800px;
    max-height: 50vh;
    max-width: 50vh;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    transform: translateY(200%);
    transition: transform 1s cubic-bezier(0, 0, 0.2, 1);
}
.container .spinBtn{
    position: absolute;
    width: 150px;
    height: 150px;
    background: #ffffff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 2.5em;
    letter-spacing: .1em;
    border: 10px solid #303030;
}
.container .spinBtn::before{
    content:'';
    position: absolute;
    top: -100px;
    width: 90px;
    height: 120px;
    background: #ffffff;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}
.container .spinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #303030;
    border-radius: 50%;
    overflow: hidden;
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    box-shadow: 0 0 0 10px #303030,
    0 0 0 39px #fff,
    0 0 0 18px #fff;
    transition: transform 5s cubic-bezier(0, 0, 0.2, 1);
}
.container .spinner .wedge{
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(15deg*var(--i)));
    clip-path: polygon(0 0, 20% 0, 100% 100%, 0 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
}
.container .spinner .wedge span{
    position: relative;
    transform: rotate(45deg);
    font-size: 2em;
    color: #fff;
    text-shadow: 3px 3px 3px #303030;
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
